<html>
<head>
<style>
.space
{
text-align:center;
  width: 320px;
  padding: 10px;
  border: 1px solid black;
  margin-top:80px;
  margin-left:500px;
}
</style>
</head>
<body>
<form method="post" action="/Register">
<div class="space">
<div class="row">
<h1>Register Form</h1><br>
Name :<input type="text" name="name" value=""><br><br>
Username :<input type="text" name="uname" value=""><br><br>
Email :<input type="text" name="email" value=""><br><br>
Password :<input type="password" name="pass" value=""><br><br>
Task Name:<input type="text" name="task" value=""><br><br>
Project Name:
<select name="Project">
<option value="Ecommerce_Site">Ecommerce Site</option>
<option value="Car_site">Car Site</option>
<option value="Doctor_App">Doctor App</option>
</select>
<br>
<br>
Start Time :<input type="time" name="time1"><br><br>
End   Time :<input type="time" name="time2"><br><br>
<input type="submit" value="submit">
</div>
</div>
</form>
</body>
</html>