<html>
<head>
<style>
.space
{
text-align:center;
  width: 320px;
  padding: 10px;
  border: 1px solid black;
  margin-top:80px;
  margin-left:500px;
}
</style>
</head>
<body>
<form method="post" action="Logged_in">
<div class="space">
<div class="row">
<h1>Login Form</h1><br>
Username :<input type="text" name="uname" value=""><br><br>
Password :<input type="text" name="pass" value=""><br><br>
<input type="submit" value="submit">
</div>
</div>
</form>
</body>
</html>